<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta>
		<title>Home page</title>
	</head>
	
	<body>
		<h1>Parc de véhicules</h1>
		<div>
			<h2>Nos véhicules</h2>
			<table style="width:20%; text-align: center; margin-bottom: 30px">
			  <tr>
			  	<th>Immat</th>
			    <th>Modèle</th>
			    <th>Couleur</th>
			    <th>Prix</th>
			  </tr>
			  <tr th:each ="car: ${cars}">
			  	<td th:utext="${car.immat}"></td>
			  	<td th:utext="${car.name}"></td>
			  	<td th:utext="${car.color}"></td>
			  	<td th:utext="${car.price} + ' €' "></td>
			  	<td>
			  		<button>
			  		<a th:href="'/cars/' + ${car.id}">
			  		EN SAVOIR +</a></button>
			  	</td>
			  	<td>
			  		<button><a th:href="'/updateCar/' + ${car.id}">Modifier</a></button>
			  	</td>
			  </tr>
			</table>
			

			<h3>Ajouter un nouveau véhicule</h3>
			
			<form action="#" th:action="@{/cars}" th:object="${cars}" th:method="post">
				<label for="immat">Immatriculation</label>
				<input type="text" id="immat" th:field="*{immat}" ></input>
			
				<label for="name">Nom du véhicule</label>
				<input type="text" id="name" th:field="*{name}" ></input>
				
				<label for="color">Couleur</label>
				<input id="color" th:field="*{color}"></input>
				
				<label for="price">Price</label>
				<input id="price" th:field="*{price}"></input>
				
				<button type="submit">Valider</button>
			</form>
			
			<h3>Supprimer un véhicule</h3>
			<form action="#" th:action="@{/deleteCar/}" method="post">
				<select name="list-vehicules">
					<option value=""></option>
				    <option th:each ="car: ${cars}" th:value="${car.id}" th:utext="${car.immat}"></option>
				</select>
				<button type="submit">Valider</button>
			</form>
		</div>
	</body>
	<style>
	table, th, td {
	  border:1px solid black;
	}
</style>
</html>