<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta>
		<title>Home page</title>
	</head>
	
	<body>
		<h1>Home page</h1>
		<div>
			<h2>Tous nous véhicules disponibles :</h2>
			<div th:each ="car: ${cars}">
				<h3 th:utext="${car.name}"></h3>
				<span th:utext="${car.color} + ' |'"></span>
				<span>Prix: </span><span th:utext="${car.price}"></span>€				
			</div>
			
			<form action="#" th:action="@{/cars}" method="post">
				<label for="name">Nom du véhicule</label>
				<input type="text" id="name"></input>
				
				<label for="color">Couleur</label>
				<input id="color"></input>
				
				<label for="price">Price</label>
				<input id="price"></input>
				
				<button type="submit">Valider</button>
			
			</form>
		</div>
	</body>
</html>